<h1>Admin::Dashboard#show</h1>

<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<div class="alert alert-info text-center">Product Count: <%=@count%></div>
<h4>Categories</h4>
<%@category_list.each do |e|%>
  <div><%= e%></div>
<%end%>